.todoapp {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url("https://images.unsplash.com/photo-1652819707035-2008e682a64f?ixlib=rb-1.2.1&raw_url=true&q=60&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDR8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=500");
  width: 40%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  margin-bottom: 50px;
  background-size: cover;
}
.todo {
  text-align: center;
}

.addTodo {
  font-size: 20px;
  padding: 1%;
  width: 60%;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}
.addTodo:focus {
  outline: none;
}
::placeholder {
  color: rgb(207, 203, 203);
  font-size: medium;
}
.todoitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 78%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  font-size: 25px;
}
.todoitem > div {
  display: flex;
  align-items: center;
}
.checkbox {
  margin-right: 10px;
  cursor: pointer;
}
.checkbox[type="checkbox"]:before {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #808080;
  content: "";
  background: #fff;
}

.checkbox[type="checkbox"]:after {
  position: relative;
  display: block;
  left: 2px;
  top: -15px;
  width: 11px;
  height: 11px;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3 #dcddde #dcddde #b3b3b3;
  content: "";
  background-image: linear-gradient(135deg, #b1b6be 0%, #fff 100%);
  background-repeat: no-repeat;
  background-position: center;
}
.checkbox[type="checkbox"]:checked:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC"),
    linear-gradient(135deg, #b1b6be 0%, #fff 100%);
}
.delete {
  border: none;
  background: transparent;
  color: rgb(177, 173, 173);
}
.delete:hover {
  color: black;
  cursor: pointer;
}

.striked {
  text-decoration: line-through;
}
.addButton {
  font-size: 18px;
  padding: 6.5px 15px;
  margin-left: 20px;
  cursor: pointer;
}

/* =================================== */

.comDiv{
  display: flex;
  
  align-items: center;
  padding: 10px 20px;
  width: 78%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: rgb(113, 192, 113) ;
  opacity: .5;
  border-radius: 10px;
  font-size: 25px;
}

.hide{
  display: none;
}
.show{
  display: block;
}
.completedBtn{
  width: 50%;
  margin: auto;
  font-size: 15px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight:600;
  background-color: rgb(180, 230, 248);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms ease;
  
}
.completedBtn:hover{
  background-color: skyblue;
}
